<p> Your password: <%= @password %> </p>
<form method="POST" action="/update_password">
  <input type="text" name="new_password">
  <button> Change Password </button>
  </form>
<p> Your Username: <%= @username %> </p>
<form method="POST" action="/update_username">
  <input type="text" name="new_username">
  <button> Change Username </button>
  </form>

<h3>Songs You Voted For</h3>
<ul> 
  <% @user_votes.each do |vote| %>
  <%= vote.created_at %> <br>
  <%= vote.song.title %><br>
  <% if vote.value == 1 %>
    Upvote
      <iframe src="https://embed.spotify.com/?uri=<%= vote.song.uri %>" width="450" height="80" frameborder="0" allowtransparency="true"></iframe>
  <% else %>
    Downvote
    <%end%>
  <% end %>
  </ul>
  <li>
