<!doctype html5>
<html>
  <head>
    <title>MusicBox</title>
    <link href="/index.css" rel="stylesheet">
  </head>

  <body>
    <div class="header">
      <h1><a href="/">MusicBox</a></h1>

      <div class="user-info">
        <% if current_user %>
          <a href="/change_password"><%= current_user.name %></a>
          <form method="POST" action="/sign_out">
            <input type="hidden" name="_method" value="DELETE">
            <button>Log Out</button>
          </form>

    <% if current_user %>
      <p>Welcome <%= current_user.name %>!  You have <%= current_user.votes_left %> votes left!</p>
      <a href="/change_password">Change Credentials</a>
    <% else %>
      <p>You are logged out, <a href="/sign_in">sign in</a></p>
    <% end %>
          <% if current_user.admin? %>
            <a href="/admin_dashboard">Admin Dashboard</a>
          <% end %>
        <% else %>
          <p>You are logged out, <a href="/sign_in">sign in</a></p>
        <% end %>
      </div>
    </div>

    <div class="container">
      <% if msg = get_message %>
        <div class="alert-message"><%= msg %></div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
